.transition-fade-enter-active, .transition-fade-leave-active {
	transition: opacity .2s ease;
}

.transition-fade-enter, .transition-fade-leave-to {
	opacity: 0;
}

.slide-fade-enter-active {
	transition: all .15s ease;
}
.slide-fade-leave-active {
	transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}

.left-fade-enter-active, .left-fade-leave-active {
	transition: all .5s ease;
}

.left-fade-enter:nth-child(odd), .left-fade-leave-to:nth-child(odd) {
	transform: translateY(-50%);
	opacity: 0;
}

.left-fade-enter:nth-child(even), .left-fade-leave-to:nth-child(even) {
	transform: translateY(50%);
	opacity: 0;
}